.table{
    width: 100%;

    &__right{
        text-align: right !important;
    }

    &__center{
        text-align: center !important;
    }

    th {
        text-align: left;
    }

    th, td{
        padding: 10px 0;
        border: solid #F2F2F2;
        border-width: 0 0 1px 0;
    }
}

.position{
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    &1{
        background-image: url(../../../../public/img/gold-star.png);
        color: white;
    }

    &2{
        background-image: url(../../../../public/img/silver-star.png);
        color: white;
    }

    &3{
        background-image: url(../../../../public/img/blue-star.png);
        color: white;
    }
}

.pointPosition{
    text-align: right !important;

    &1{
        color: #219653;
    }

    &2{
        color: #6FCF97;
    }

    &3{
        color: #7CC2D1;
    }
}

.backButton{
    display: block;
    width: 100%;
    margin: 50px auto 0;
}