.buttonsBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    > button{
        width: calc(50% - 10px);
    }
}

.iframe{
    border: none;
    width: 100%;
}

.image{
    width: 100%;
}

.progress{
    color: #BDBDBD;
}