.header{
    
    padding-bottom: 10px;
    border: solid #E1E3E6;
    border-width: 0 0 1px 0;

    &__info{
        flex: 1;
        margin-left: 10px;
    }

    &__text{
        font-size: 24px;
        margin: 0;
    }

    &__name{
        display: block;
        color: #828282;
    }

}

.item{
    padding: 10px 0;
    display: flex;

    &__index{
        color: #828282;
    }

    &__name{
        display: block;
        margin-left: 20px;
    }
}