.star{
    list-style: none;
    width: 48px;
    height: 48px;
    background-image: url(../../public/img/star-empty.png); 
    background-size: 100% 100%;
}

.active{
    background-image: url(../../public/img/gold-star.png);
}